*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    min-height: 10vh;
}


.navbar-brand img{
    margin-left: 1rem;
    width: 15rem;
}

#navbarNav  li a{
    margin: 0 0.3rem;
    background-color: rgb(214, 19, 85);
    border-radius: 10px;
    width: 8.9rem;
    text-align: center;
}

/* title */
.title{
    padding: 1.5rem 1rem;
}

/* filter */
.cont-check-search{
    display: flex;
    flex-wrap: wrap;
}

#checks{
    display: flex;
}
.checks-js{
   margin-left: 1.5rem;
}
/* SEARCH */

.form-search{
    display: flex;
    margin: auto;
}

#result{

    border: 3px solid red;
}



/* cards */

#cards-js{
    background-color: red;   
}

.card{
    margin-top: 2rem;
    border: 1px solid rgb(214, 19, 85);
}

.card-img-top{
    margin-top: 0.5rem;
    min-height:12rem;
    object-fit: cover;
}

main{
    min-height: 80vh;
    background-color: rgb(232, 210, 166);
}
/* *********** */
/* CONTACT US */
/* ********* */
.contact form {
    width: 18rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact .input{
    width: 18rem;
}

.contact .submit{
    margin-left: auto;
    width: 5rem;
}

/* ******* */
/* DEATIL */
/* ***** */
.container-card{
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    padding-bottom: 2rem;
} 

.detail .container-card{
    display: flex;
    width: 640px;
    height: 380px;
    margin: auto;
    background-color: rgb(243, 186, 205);
    border-radius: 5px;
}

.detail .container-card img{
    width: 300px;
    height: 300px;
    padding-right: 1rem;
    object-fit: cover;
    border-radius: 5px;
}

.detail .container-card .text-card{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 1rem;
    width: 300px;
    height: 300px;
}


/* table */

.table table, tr, th, td { /* para dar borde a la tabla entera */
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}



.table table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* text-align: center; */
    margin: auto;
    padding: 0.2rem;
    background-color: rgb(191, 214, 230);
}

.table thead{
    font-size: 2rem;
    text-align: left;
    height: 2rem;
   /*  border: 3px solid red; */
}

.table .columns {
    width: 25rem;
}

/* ******* */
/* FOOTER */
/* ***** */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(214, 19, 85);
}

.rss{
    display: flex;
}

.rss .fa-brands{
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.4rem;
    margin: 1rem;
    color: rgb(214, 19, 85);
    background-color: black;
    border-radius: 50%;
}

.cohort{
    margin: 1rem;
    font-size: 1.5rem; 
}

/* *************** */
/* MEDIAS-QUERIES */
/* ************* */

@media (min-width:320px) and (max-width:767px) {
   /* filter */
    .cont-check-search{
        display: flex;
        flex-wrap: wrap;
    }

    #checks{
        display: flex;
       flex-wrap: wrap;
    }
    .checks-js{
        width: 9rem;
       margin-left: 1.2rem;
    }

    .form-search{
        display: flex;
        margin: auto;
    }



    /* ******* */
    /* FOOTER */
    /* ***** */
    footer{
        flex-direction: column;
    }
    /* ****** */
    /* TABLE */
    /* **** */
    .table table, tr, th, td {
        padding: 0.1rem;
        font-size: 0.8rem;
    }
    
    .table .columns {
        width: 15rem;
    }

    /* ******* */
    /* DEATIL */
    /* ***** */
    .detail .container-card{
        display: flex;
        flex-direction: column;
        width: 320px;
        min-height: 450px;
        margin: auto;
    }

    .detail .container-card img{
        width: 300px;
        height: 300px;
        object-fit: contain;
    }

    .detail .container-card .text-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        width: 300px;
        height: 270px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    /* filter */
    .cont-check-search{
        display: flex;
        flex-wrap: wrap;
    }

    #checks{
        display: flex;
        flex-wrap: wrap;
    }
    .checks-js{
        width: 12rem;
        margin-left: 1.2rem;
    }

    .form-search{
        display: flex;
        margin: auto;
    }

}

@media (max-width:1024px) {
    

   
  
}

/* 
a las cards 
display flex
flex-wrap

*/